@font-face {
    font-family: "Raleway";
    src: url("/Cahee/fonts/Raleway/Raleway-Regular.ttf");
}

body {
    border: 2px solid green;
}


.home {
    width: 1500px;
    height: 1087px;
    border: 2px solid red;
    margin: 0 auto;
    background: url("/Cahee/img/img.png");
background-size: cover;
}
.home-container {
width: 1200px;
height: 100%;
/* border: 2px solid green; */
margin: 0 auto;
position: relative;
}

.home-wrapper {
    /* border: 2px solid red; */
    display: flex;
}

.home-logo {
width: 50%;
/* border: 2px solid blue; */
}
.navigation {
/* border: 2px solid pink; */
width: 50%;
display: flex;
justify-content: space-evenly;
align-items: center;
text-transform: uppercase;
}
.navigation__link {
text-decoration: none;
font-size: 16px;
color: #262626;
font-weight: 700;
font-family: "Raleway";
border: 2px solid transparent; 
}

.navigation__link:hover {
    border-top: 2px solid orangered;
}
.home-title {
    font-size: 45px;
font-weight: 1000;
color: #262626;
font-family: "Raleway";
margin-bottom: 10px;

}

.home-text {
width: 370px;
height: 69px;
font-size: 17px;
color: #262626;
font-weight: 300;
font-family: "Raleway";
margin-bottom: 10px;

}
button {
    width: 30%;
    height: 50px;
    background-color: #FF6033;
    font-size: 20px;
color: #ffffff;
font-weight: 300;
font-family: "Raleway";
border: none;
}
.ttb-home {
    /* border:2px solid red ; */
    width: 50%;
    height: 23%;
    margin-top:30%;
    
}
.home-mouse {
    position: absolute;
    bottom: 100px;
    left: 50%;
    /* border: 2px solid red; */
    
}

.about {
    width: 1500px; 
    height: 700px;
    border: 2px solid red;
    margin: 0 auto;
    background-color: #00B8B8;
}
.about-title {
    font-size: 90px;
color: #ffffff;
font-weight: 900;
font-family: "Raleway";
/* border: 2px solid red; */
width:400px;
margin-left: 100px;
}
.about-text-1,.about-text-2 {
line-height: 27px; 
/* border: 2px solid blue; */
width: 500px;
height: 130px;
font-size: 17px;
color: #ffffff;
font-weight: 300;
font-family: "Raleway";
margin-left: 100px;
}

/* .about-text-2 {
    
    border: 2px solid blue;
    width: 500px;
    height: 100px;
    font-size: 17px;
    color: #ffffff;
    font-weight: 300;
    font-family: "Raleway";
    }
 */


.raspberry-img {
    margin-left: 100px;
}
.about-container {
    /* border: 3px solid black; */
}
.main-about {
    /* border: 2px solid red; */
    margin-top: 100px;
}
.about-container {
display: flex;
justify-content: center;
align-items: center;
}