@font-face {
    font-family: "Raleway";
    src: url("/Cahee/fonts/Raleway/Raleway-Regular.ttf");
}

body {
    border: 2px solid green;
}


.home {
    width: 1500px;
    height: 1087px;
    border: 2px solid red;
    margin: 0 auto;
    background: url("/Cahee/img/img.png");
background-size: cover;
}
.home-container {
width: 1200px;
height: 100%;
/* border: 2px solid green; */
margin: 0 auto;
position: relative;
}

.home-wrapper {
    /* border: 2px solid red; */
    display: flex;
}

.home-logo {
width: 50%;
/* border: 2px solid blue; */
}
.navigation {
/* border: 2px solid pink; */
width: 50%;
display: flex;
justify-content: space-evenly;
align-items: center;
text-transform: uppercase;
}
.navigation__link {
text-decoration: none;
font-size: 16px;
color: #262626;
font-weight: 700;
font-family: "Raleway";
border: 2px solid transparent; 
}

.navigation__link:hover {
    border-top: 2px solid orangered;
}
.home-title {
    font-size: 45px;
font-weight: 1000;
color: #262626;
font-family: "Raleway";
margin-bottom: 10px;

}

.home-text {
width: 370px;
height: 69px;
font-size: 17px;
color: #262626;
font-weight: 300;
font-family: "Raleway";
margin-bottom: 10px;

}
button {
    width: 30%;
    height: 50px;
    background-color: #FF6033;
    font-size: 20px;
color: #ffffff;
font-weight: 300;
font-family: "Raleway";
border: none;
}
.ttb-home {
    /* border:2px solid red ; */
    width: 50%;
    height: 23%;
    margin-top:30%;
    
}
.home-mouse {
    position: absolute;
    bottom: 100px;
    left: 50%;
    /* border: 2px solid red; */
    
}

.about {
    width: 1500px; 
    height: 700px;
    border: 2px solid red;
    margin: 0 auto;
    background-color: #00B8B8;
}
.about-title {
    font-size: 90px;
color: #ffffff;
font-weight: 900;
font-family: "Raleway";
/* border: 2px solid red; */
width:400px;
margin-left: 100px;
}
.about-text-1,.about-text-2 {
line-height: 27px; 
/* border: 2px solid blue; */
width: 500px;
height: 130px;
font-size: 17px;
color: #ffffff;
font-weight: 300;
font-family: "Raleway";
margin-left: 100px;
}

/* .about-text-2 {
    
    border: 2px solid blue;
    width: 500px;
    height: 100px;
    font-size: 17px;
    color: #ffffff;
    font-weight: 300;
    font-family: "Raleway";
    }
 */


.raspberry-img {
    margin-left: 100px;
}
.about-container {
    /* border: 3px solid black; */
}
.main-about {
    /* border: 2px solid red; */
    margin-top: 100px;
}
.about-container {
display: flex;
justify-content: center;
align-items: center;
}

.blog {
    width: 1500px;
    height: 865px;
    background-color: #B07CF7;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header-blog {
    width: 190px;
    height: 86px;
    /* border: 2px solid red; */
    font-size: 90px;
/* line-height: 25px; */
color: #ffffff;
font-weight: 700;

font-family: "Raleway" ;
text-align: center;
margin: 0 655px 30px 655px;

}
.text-blog {
    width: 563px;
    height: 66px;
    /* border: 2px solid red; */
    width: 570px;
height: 63px;
font-size: 17px;
line-height: 25px;
color: #ffffff;
font-weight: 300;
font-family: "Raleway";
text-align: center;
margin: 30px 469px;
}
.element-1-blog {
    background: url("/position-task-1/img/juice.png");
    width: 372px;
    height:311px;
    margin: 10px;
    position: relative;
   
}
.gradient-blog {
    /* background-image: linear-gradient(0deg, #000000 0%, #ffffff 100%); */
    background: linear-gradient(rgba(255, 255, 255, 0) 0%, rgb(0, 0, 0) 100%);
    width: 372px;
    height:150px;
    position: absolute;
    bottom: 0;
    opacity: 0.5;
    transition: opacity 3s ease 0s;
}
.element-1-blog:hover .gradient {
    opacity:0;
}

.element-2-blog {
    background: url(/position-task-1/img/suup.png) center bottom no-repeat; 
    background-size: cover;
    width: 372px;
    height:311px;
    margin: 10px;
    position: relative;
}
.element-3-blog {
    background: url(/position-task-1/img/raspberry.png) center;
    width: 372px;
    height: 311px;
    margin: 10px;
    position: relative;
}
.img-blog {
    border: 2px solid green;
    display: flex;
    justify-content: center;
}
input, 
button {
    width: 200px;
    height: 56px;
    background: red;
    text-transform: uppercase;
    font-size: 20px;
line-height: 25px;
color: #ffffff;
font-weight: 300;
font-family: "Raleway";
margin: 50px auto; 
}
.data-blog {
width: 60px;
height: 60px;
background-color: rgba(128, 128, 128,0.3);
border-radius: 4px;
font-size: 24px;
/* line-height: 25px; */
color: #ffffff;
font-weight: 700;
font-family: "Raleway";
text-align: center;
text-transform: uppercase;
position: relative;
top: 45px;

left: 45px;
/* transform: translateX(180px) rotate(45deg); */
/* transform: rotate(45deg) */

}
.big-text-blog {
    width: 340px;
height: 79px;
font-size: 20px;
/* line-height: 25px; */
color: #ffffff;
font-weight: 600;
font-family: "Raleway";
position: relative;
left: 20px;
top: 150px;
}
.small-text-blog {
    width: 370px;
    font-size: 12px;
    /* line-height: 25px; */
    color: rgba(255, 255, 255,0.7);
    font-weight: 600;
    font-family: "Raleway";
    position: absolute;
    left: 20px;
    bottom: 20px;
}