/* @font-face {
    font-family: "Raleway";
    src: url("../fonts/Raleway/Raleway-Regular.ttf");
}
@font-face {
    font-family: "Pacifico";
    src:url(../fonts/Pacifico/Pacifico-Regular.ttf)
} */

body {
    /* border: 2px solid green; */
}

/* .home {
width: 1500px;
height: 900px;
border: 2px solid red;
margin: 0 auto;
background: url("../img/img.png");
background-size: cover;
height: 100%;
background-size:cover;
position: relative;
} */
/* .home-container {
width: 1200px;
height: 100%;
margin: 0 auto;
position: relative;
} */

.home-wrapper {
    /* border: 2px solid red; */
    /* display: flex; */
}

/* .home-logo {
width: 50%;
border: 2px solid blue;
font-family: Pacifico;
font-size:30px;
margin-top: 30px;
} */
/* .logo-navigation__link {
    text-decoration: none;
    border: 2px solid green;
    color: black;
    width: 50%;
    position: fixed;
} */

/* .logo-navigation__link:hover {
color:#ff6033 ;
} */

/* .navigation {
border: 2px solid pink;
width: 50%;
display: flex;
justify-content: space-evenly;
align-items: center;
text-transform: uppercase;
margin-top: 30px;
position: fixed;
left: 550px;
} */
/* .navigation__link {
text-decoration: none;
font-size: 16px;
color: #262626;
font-weight: 700;
font-family: "Raleway";
border: 2px solid transparent; 
} */

/* .navigation__link:hover {
    border-top: 2px solid orangered;
} */
/* .home-title {
    font-size: 45px;
font-weight: 1000;
color: #262626;
font-family: "Raleway";
margin-bottom: 10px;
} */

/* .home-text {
width: 370px;
height: 69px;
font-size: 17px;
color: #262626;
font-weight: 300;
font-family: "Raleway";
margin-bottom: 10px;
} */
/* .home-button {
    width: 30%;
    height: 50px;
    background-color: #ff6033;
    font-size: 20px;
color: #ffffff;
font-weight: 300;
font-family: "Raleway";
border: none;
} */
/* .home-ttb {
    border:2px solid red ;
    width: 50%;
    height: 23%;
    margin-top:30%;
    
} */
/* .home-mouse {
    position: absolute;
    bottom: 100px;
    left: 50%;
        transform: translate(0, -50%); 
    } */

/* .about {
    width: 1500px; 
    height: 700px;
    border: 2px solid red;
    margin: 0 auto;
    background-color: hsl(180, 100%, 36%);
} */
/* .about-container {
    width: 1200px;
    height: 100%;
    border: 2px solid green;
    margin: 0 auto;
    display: flex;
justify-content: center;
align-items: center;
    } */

/* .about-title {
    font-size: 90px;
color: #ffffff;
font-weight: 900;
font-family: "Raleway";
border: 2px solid red;
width:400px;
margin-left: 70px;
margin-bottom: 20px;

} */
/* .about-text-1,.about-text-2 {
line-height: 27px; 
border: 2px solid blue;
width: 500px;
height: 130px;
font-size: 17px;
color: #ffffff;
font-weight: 300;
font-family: "Raleway";
margin-left: 70px;
margin-bottom: 20px;
} */

.raspberry-img {
    /* margin-left: 100px; */
}

/* .main-about {
    border: 2px solid red;
    margin-top: 100px;
} */
/* .services {
    width: 1500px;
    height: 791px;
    background-color:#70BFFF;
    margin: 0 auto;
} */
/* .services-container {
    width: 1200px;
    height: 100%;
    border: 2px solid red;
    margin: 0 auto;
    display: flex;
} */

/* .services-element-1 {
    border: 2px solid blue;
    width: 40%;
    height: 600px;
    margin-top: 170px;
    padding-top: 20px;
} */

/* .services-wrap {
    width: 400px;
    height: 100px;
    background-color:#FFFFFF;
    border: 2px solid green;
    margin-bottom: 10px;
display: flex;
align-items: center;
justify-content: space-between;

} */
/* .services-wrap:hover {
     box-shadow: 0 14px 28px #398ac9;
    box-shadow: 0 14px 28px rgb(10, 10, 128)
} */
.deliv {
    /* border: 2px solid red; */    
}
/* .services-text {
    font-size: 20px;
line-height: 27px;
color: #262626;
font-weight: 700;
font-family: "Raleway";
border: 2px solid blue;
display: flex;
align-items: center;
justify-content: center;
width: 80%;
height: 70%;
} */
/* .services-text-3 {
    font-size: 20px;
color: #262626;
font-weight: 700;
font-family: "Raleway";
border: 2px solid blue;
width: 80%;
text-align: center;
} */


/* .services-icon {
    border-left: 2px solid #9D9D9D;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20%;
    height: 100%;
    
} */
/* .services-element-2 {
border: 2px solid blue;
width: 50%;
height: 500px;
margin-top: 100px;
display: flex;
align-items: center;
justify-content: center;
} */

/* .services-text-img {
    font-size: 75px;
color: #ffffff;
font-weight: 700;
font-family: "Raleway";
text-align: right;
background: url(../img/tomato.png)  no-repeat center;
width: 462px;
height: 530px;
padding-top: 520px;
border: 2px solid red;
text-align: center;
} */
/* .gallery {
    width: 1500px;
    height: 1580px;
    border: 2px solid red;
    margin: 0 auto;
    background-color:#FFE92F ;
} */
/* .gallery-container {
    width: 1160px;
height: 100%;
border: 2px solid green;
margin: 0 auto;
} */
/* .gal-title {
font-size: 90px;
line-height: 27px;
color: #262626;
font-weight: 700;
font-family: "Raleway";
margin: 0 auto;
padding-top: 100px;
border: 2px solid green;
width: 307px;
height: 136px;
text-align: center;
} */
/* .gal-text {
    width: 630px;
height: 69px;
font-size: 17px;
line-height: 27px;
color: #262626;
font-weight: 300;
font-family: "Raleway";
text-align: center;
border: 2px solid green;
margin: 0 auto;
padding-bottom: 41px;
} */
/* .galpart-1 {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
    } */

.peach {
/* width: 842px; */
/* width: 70%; */
/* height: 560px; */
}
.berri {
    /* width: 436px; */
    /* height: 273px; */
    /* margin-bottom:20px ; */
}
/* .berries {
    display: flex;
    flex-direction: column;
} */
/* .galpart-2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    } */
    .yog {
        /* width: 624px; */
        /* height: 414px; */
    }
.pers {
    /* width: 624px; */
    /* height: 415px; */
}
/* .gal-button {
font-size: 20px;
line-height: 27px;
color: #ffffff;
font-weight: 300;
font-family: "Raleway";
background: #5585A2;
margin: 50px auto;
text-align: center;
position: absolute;
right: 50%;
transform: translate(50%,0);
} */
/* .gallery-button {
    background-color: blue;
    position: relative;
} */

/* .sub {
    width: 1500px;
    height: 500px;
    border: 2px solid red;
    margin: 0 auto;
    background: url(../img/subscribe.png) bottom left;
    background-size:  1500px ;

} */
/* .sub-container{
    width: 85%;
    height: 90%;
    margin-left: 100px;
    border: 2px solid green;
} */
   
    /* .sub-title{
        font-size: 40px;
line-height: 27px;
color: #262626;
font-weight: 700;
font-family: "Raleway";
text-align: left;
margin-top: 200px;
margin-bottom: 34px;
    } */
    /* .sub-text {
        width: 572px;
height: 50px;
font-size: 17px;
line-height: 27px;
color: #262626;
font-weight: 300;
font-family: "Raleway";
margin-bottom: 20px;
} */
    /* .sub-mail{
        display: flex;
        align-items: center;
        padding-left: 30px;
        border: 2px solid red;
       
    } */
/* .sub-yes {
    font-size: 15px;
line-height: 27px;
color: #262626;
font-weight: 300;
font-family: "Raleway";
background-color: white;
height: 56px;
width: 571px;
margin-right: 30px;
} */

        /* .sub-but {
            border: 2px solid rgb(41, 5, 99);
            border: none;
        } */
        /* 
         */


/* .blog {
    width: 1500px;
    height: 865px;
    background-color: #B07CF7;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
} */

/* .blog-header {
    width: 190px;
    height: 86px;
    border: 2px solid red;
    font-size: 90px;
line-height: 25px;
color: #ffffff;
font-weight: 700;
font-family: "Raleway" ;
text-align: center;
margin: 0 655px 30px 655px;
} */
/* .blog-text {
    width: 563px;
    height: 66px;
    border: 2px solid red;
    width: 570px;
height: 63px;
font-size: 17px;
line-height: 25px;
color: #ffffff;
font-weight: 300;
font-family: "Raleway";
text-align: center;
margin: 30px 469px;
} */
/* .blog-element-1 {
    background: url("../img/juice.png");
    width: 372px;
    height:311px;
    margin: 10px;
    position: relative;
   
} */
/* .blog-gradient {
    background: linear-gradient(rgba(255, 255, 255, 0) 0%, rgb(0, 0, 0) 100%);
    width: 372px;
    height:150px;
    position: absolute;
    bottom: 0;
    opacity: 0.5;
    transition: opacity 3s ease 0s;
} */
/* .blog-element-1:hover .gradient {
    opacity:0;
} */

/* .blog-element-2 {
    background: url(../img/suup.png) center bottom no-repeat; 
    background-size: cover;
    width: 372px;
    height:311px;
    margin: 10px;
    position: relative;
} */
/* .blog-element-3 {
    background: url(../img/raspberry.png) center;
    width: 372px;
    height: 311px;
    margin: 10px;
    position: relative;
} */
/* .blog-img {
    border: 2px solid green;
    display: flex;
    justify-content: center; */
}

/* .blog-red {
    width: 200px;
    height: 56px;
    background: red;
    text-transform: uppercase;
    font-size: 20px;
line-height: 25px;
color: #ffffff;
font-weight: 300;
font-family: "Raleway";
margin: 50px auto; 
} */
/* .blog-data {
width: 60px;
height: 60px;
background-color: rgba(128, 128, 128,0.3);
border-radius: 4px;
font-size: 24px;
color: #ffffff;
font-weight: 700;
font-family: "Raleway";
text-align: center;
text-transform: uppercase;
position: relative;
top: 45px;
left: 45px;
} */
/* .blog-big-text {
    width: 340px;
height: 79px;
font-size: 20px;
color: #ffffff;
font-weight: 600;
font-family: "Raleway";
position: relative;
left: 20px;
top: 150px;
} */
/* .blog-small-text {
    width: 370px;
    font-size: 12px;
    color: rgba(255, 255, 255,0.7);
    font-weight: 600;
    font-family: "Raleway";
    position: absolute;
    left: 20px;
    bottom: 20px;
} */
/* .contact {
    width: 1500px;
    height: 750px;
    background: url(../img/nature.png) center ;
    margin: 0 auto;
    padding-top: 50px;
} */
/* .contact-container {
    width: 1200px;
    height: 90%;
    border: 2px solid red;
    margin: 0 auto;
} */
/* .cFcontainer{
    width: 1200px;  
    height: 70%;
    margin: 0 auto;
    border: 2px solid red;
    display: flex;
    justify-content: space-between;
} */
/* .contact-title {
border: 2px solid blue;
font-size: 90px;
color: #262626;
font-weight: 700;
font-family: "Raleway";
text-align: center;
} */
/* .contact-text {
width: 344px;
height: 42px;
border: 2px solid purple;
margin: 20px auto;
width: 570px;
height: 66px;
font-size: 17px;
line-height: 25px;
color: #262626;
font-weight: 300;
font-family: "Raleway";
text-align: center;
} */
/* .contact-block1{
    width: 50%;
} */

/*  */
/* .contact-message {
    width: 80%;
    height: 180px;
    background-color:#7DDFDF;
    box-sizing: border-box;
    border: none;
    padding: 10px;
    outline: none;
} */
/* .contact-name {
    width: 80%;
    height: 50px;
    background-color:#7DDFDF;
    display: flex;
    flex-direction: column;
    border: none;
    box-sizing: border-box;
    margin-bottom: 10px;
    padding: 10px;
    color: white;
    outline: none;
} */
/* input::placeholder,
textarea::placeholder {
    color: rgba(255, 255, 255, 0.5);
} */

/* input:focus,
textarea:focus {
    background-color:#00C4C4;
    border-left: 3px solid gray;
} */
/* .BuTton-cahee {
    width: 200px;
    height: 56px;
    background:#3477AC;
    text-transform: uppercase;
    font-size: 20px;
line-height: 25px;
color: #ffffff;
font-weight: 300;
font-family: "Raleway";
margin: 0 auto; 
border: none;
margin-top: 15px;
} */

/* .contact-block2 {
border: 2px solid blue;
width: 40%;
} */

/* .contact-title-AeP {
    font-weight: 700;
    text-transform: uppercase;
} */
/* .sity-sAp {
    font-weight: 200;
} */

/* .wrapp-address {
    border: 2px solid green;
font-size: 17px;
color: #262626;
font-family: "Raleway";
margin-bottom: 20px;
} */
/* .wrapp-email {
    border: 2px solid red;
font-size: 17px;
color: #262626;
font-family: "Raleway";
margin-bottom: 20px;
} */
/* .wrapp-phone {
    border: 2px solid fuchsia;
font-size: 17px;
line-height: 25px;
color: #262626;
font-family: "Raleway";
margin-bottom: 20px;
} */
/* .footer {
    border: 2px solid red;
    background-color:#262626;
    margin-top: 20px;
    height: 10%;
} */
/* .CFtext {
border: 2px solid blueviolet;
font-size: 15px;
line-height: 25px;
color: #b9b9b9;
font-weight: 300;
font-family: "Raleway";
display: flex;
align-items: center;
width: 25%;
text-align: center;
} */

/* .CFtitle {
    border: 2px solid pink;
    font-family: Pacifico;
font-size:19px;
color: #b9b9b9;
display:flex ;
align-items: center;
} */

/* .love {
    color: red;
    padding: 5px;
} */
/* .footer-navigation__link {
    text-decoration: none;
    border: 2px solid green;
    color: white;
} */