@font-face {
    font-family: "Raleway";
    src: url("/Cahee/fonts/Raleway/Raleway-Regular.ttf");
}
.home {
    width: 1500px;
    height: 1087px;
    /* border: 2px solid red; */
    margin: 0 auto;
   
    
}
.home-container {
width: 1200px;
height: 100%;
/* border: 2px solid green; */
margin: 0 auto;
position: relative;
background: url("/Cahee/img/img.png");
background-size: cover;
}

.home-wrapper {
    /* border: 2px solid red; */
    display: flex;
}

.home-logo {
width: 50%;
/* border: 2px solid blue; */
}
.navigation {
/* border: 2px solid pink; */
width: 50%;
display: flex;
justify-content: space-evenly;
align-items: center;
text-transform: uppercase;
}
.navigation__link {
text-decoration: none;
font-size: 16px;
color: #262626;
font-weight: 700;
font-family: "Raleway";
border: 2px solid transparent; 
}

.navigation__link:hover {
    border-top: 2px solid orangered;
}
.home-title {
    font-size: 60px;
font-weight: 900;
color: #262626;
font-family: "Raleway";
margin-bottom: 10px;
}

.home-text {
width: 370px;
height: 69px;
font-size: 17px;
color: #262626;
font-weight: 300;
font-family: "Raleway";
margin-bottom: 10px;
}
button {
    width: 30%;
    height: 50px;
    background-color: #FF6033;
    font-size: 20px;
color: #ffffff;
font-weight: 300;
font-family: "Raleway";
}
.ttb-home {
    /* border:2px solid red ; */
    width: 50%;
    height: 23%;
    margin-top:30%;
    
}
.home-mouse {
    position: absolute;
    bottom: 50px;
    left: 50%
}