.about {
    width: 1500px; 
    height: 700px;
    // border: 2px solid red;
    margin: 0 auto;
    background-color: #00B8B8;
    .about-container {
        width: 1200px;
        height: 100%;
        // border: 2px solid green;
        margin: 0 auto;
        display: flex;
    justify-content: center;
    align-items: center;

    .main-about {
        /* border: 2px solid red; */
        margin-top: 100px;
    
    .about-title {
        font-size: 90px;
    color: #ffffff;
    font-weight: 900;
    font-family: "Raleway";
    /* border: 2px solid red; */
    width:400px;
    margin-left: 70px;
    margin-bottom: 20px;
}
.about-text-1,.about-text-2 {
    line-height: 27px; 
    /* border: 2px solid blue; */
    width: 500px;
    height: 130px;
    font-size: 17px;
    color: #ffffff;
    font-weight: 300;
    font-family: "Raleway";
    margin-left: 70px;
    margin-bottom: 10px;
    }
}   
}
}