.contact {
    width: 1500px;
    height: 750px;
    background: url(../img/nature.png) center ;
    margin: 0 auto;
    padding-top: 50px;

    .contact-container {
        width: 1200px;
        height: 90%;
        // border: 2px solid red; 
        margin: 0 auto;
.contact-title {
/* border: 2px solid blue; */
font-size: 90px;
color: #262626;
font-weight: 700;
font-family: "Raleway";
text-align: center;
}
.contact-text {
    width: 344px;
    height: 42px;
    /* border: 2px solid purple; */
    margin: 20px auto;
    width: 570px;
    height: 66px;
    font-size: 17px;
    line-height: 25px;
    color: #262626;
    font-weight: 300;
    font-family: "Raleway";
    text-align: center;
    }       
.cFcontainer{
width: 1200px;  
height: 70%;
margin: 0 auto;
//  border: 2px solid red; 
display: flex;
 justify-content: space-between;
 .contact-block1 {
    width: 50%;
    .contact-name {
        width: 80%;
        height: 50px;
        background-color:#7DDFDF;
        display: flex;
        flex-direction: column;
        border: none;
        box-sizing: border-box;
        margin-bottom: 10px;
        padding: 10px;
        color: white;
        outline: none;
    }
    .contact-message {
        width: 80%;
        height: 180px;
        background-color:#7DDFDF;
        box-sizing: border-box;
        border: none;
        padding: 10px;
        outline: none;
    }
    input::placeholder,
    textarea::placeholder {
        color: rgba(255, 255, 255, 0.5);
    }
    input:focus,
textarea:focus {
    background-color:#00C4C4;
    border-left: 3px solid gray;
}
.BuTton-cahee {
    width: 200px;
    height: 56px;
    background:#3477AC;
    text-transform: uppercase;
    font-size: 20px;
line-height: 25px;
color: #ffffff;
font-weight: 300;
font-family: "Raleway";
margin: 0 auto; 
border: none;
margin-top: 15px;
}
}
.contact-block2 {
    /* border: 2px solid blue; */
    width: 40%;
    .wrapp-address {
        /* border: 2px solid green; */
    font-size: 17px;
    color: #262626;
    font-family: "Raleway";
    margin-bottom: 20px;
    }
    .contact-title-AeP {
        font-weight: 700;
        text-transform: uppercase;
    }
    .sity-sAp {
        font-weight: 200;
    }
    .wrapp-email {
        /* border: 2px solid red; */
    font-size: 17px;
    color: #262626;
    font-family: "Raleway";
    margin-bottom: 20px;
    }
    .wrapp-phone {
        /* border: 2px solid fuchsia; */
    font-size: 17px;
    line-height: 25px;
    color: #262626;
    font-family: "Raleway";
    margin-bottom: 20px;
    }

    }
    .con-footer {
        border: 2px solid black;
        background-color:#262626;
        height: 20%;
.Cfoot-container {
    width: 1200px;  
height: 70%;
margin: 0 auto;
 border: 2px solid blue; 
display: flex;
 justify-content: space-between;
}
        .CFtext {
            /* border: 2px solid blueviolet; */
            font-size: 15px;
            line-height: 25px;
            color: #b9b9b9;
            font-weight: 300;
            font-family: "Raleway";
            display: flex;
            align-items: center;
            width: 25%;
            text-align: center;
            /* padding: 10px; */
            }
            .CFtitle {
                /* border: 2px solid pink; */
                font-family: Pacifico;
            font-size:19px;
            color: #b9b9b9;
            display:flex ;
            align-items: center;
            }
            .love {
                color: red;
                padding: 5px;
            }
            .footer-navigation__link {
                text-decoration: none;
                /* border: 2px solid green; */
                color: white;
            }
    }
}
}
}